.main_photo_block{
	margin-top:20px;
	margin-bottom:20px;
	background-color:white;
	-webkit-box-shadow: 1px 1px 3px rgba(50, 50, 50, 0.1);
	-moz-box-shadow:    1px 1px 3px rgba(50, 50, 50, 0.1);
	box-shadow:         1px 1px 3px rgba(50, 50, 50, 0.1);
}

.photo_title{
	background-color: #1DC8D9;
	color: #ffffff;
	padding: 10px 0 10px 10px;

}

.photo{
	margin:15px 5px 5px 16px;
	float:left;
	background-color: black;
	height: 137px;
}

.photo>img:hover {
	opacity:0.4;
}

.ico_photo{
	float: left;
}

.photo_icons{
	position: absolute;
}


.photo_container{
	background-color:white;
	overflow: auto;
	padding-bottom: 10px;
}

.writeIn_field{
	min-height: 100px;
	position:relative;
}

.comment_textarea{
	margin-top:10px;
	float:left;
	min-height:80px;
	min-width:100%;
	border: none;
	font-family: 'Verdana', sans-serif;
	font-size:13px;
	overflow: auto;
}

/*.send_photo_comment_button{
	background-color: #1DC8D9;
	border:none;
	color:#fff;
	padding:12px;
	position:absolute;
	bottom:16px;
	left: -83px;
	border-bottom:solid 4px #18a3b1;
}

.send_photo_comment_button:hover {
	border-bottom:none;
	bottom:14px;
}*/

.send_photo_comment_button{
	background-color: #1DC8D9;
	border:none;
	color:#fff;
	padding:12px 17px;
	position:absolute;
	bottom:16px;
	left: -83px;
}

@-moz-document url-prefix() { 
	.send_photo_comment_button{
		padding:12px 12px;
	}
}

.send_photo_comment_button:hover {
	background-color: #18a3b1;
}

.comment_time{
	float:left;
	margin-right:10px;
}

.comment_author{
	color:#1DC8D9;
	float:left;
}

.comment_content{
	margin-top: 10px;
	float: left;
}

.photo_info{
	float:right;
	font-size:11px;
}

.ico{
	margin-bottom:-5px;
	margin-left:5px;
}

.ico:hover{
	opacity:0.5;
}

.write_photo_comment{
	//position: absolute;
	border: solid red 1px;
}

.reply{
	background-color: #F7F7F7;
    box-shadow: 1px 1px 3px rgba(50, 50, 50, 0.1);
    margin-left: 26px;
    margin-top: -26px;
    margin-bottom: 25px;
    min-height: 109px;
    padding: 20px 5px 0 22px;
    width: 835px;
    position: relative;
    display:none;
}

.reply_textarea{
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border:  none;
    float: left;
    font-family: 'Verdana',sans-serif;
    font-size: 13px;
    min-height: 88px;
    min-width: 830px;
    overflow: auto;
}

.send_photo_reply_button{
    background-color: #1DC8D9;
    border:  none;
    bottom: 14px;
    color: #FFFFFF;
    left: -84px;
    padding: 12px;
    position: absolute;
}

.send_photo_reply_button:hover {
	background-color: #18a3b1;
}







#upperDiv{
	height: 100px;
	width: 200px;
	background-color: green;
}

#underDiv{
	height: 100px;
	width: 200px;
	background-color: red;
	display: none;
}