.main_photo_block{
	margin-top:20px;
	margin-bottom:20px;
	background-color:white;
	-webkit-box-shadow: 1px 1px 3px rgba(50, 50, 50, 0.1);
	-moz-box-shadow:    1px 1px 3px rgba(50, 50, 50, 0.1);
	box-shadow:         1px 1px 3px rgba(50, 50, 50, 0.1);
}

.photo_title{
	background-color: #1DC8D9;
	color: #ffffff;
	padding: 10px 0 10px 10px;

}

.photo{
	margin:15px 5px 5px 16px;
	float:left;
}

.photo img:hover {
	opacity:0.5;
}


.photo_container{
	background-color:white;
	overflow: auto;
	padding-bottom: 10px;
}

.writeIn_field{
	min-height: 100px;
	position:relative;
}

.comment_textarea{
	margin-top:10px;
	float:left;
	min-height:80px;
	min-width:100%;
	border: none;
	font-family: 'Verdana', sans-serif;
	font-size:13px;
	overflow: auto;
}

/*.send_photo_comment_button{
	background-color: #1DC8D9;
	border:none;
	color:#fff;
	padding:12px;
	position:absolute;
	bottom:16px;
	left: -83px;
	border-bottom:solid 4px #18a3b1;
}

.send_photo_comment_button:hover {
	border-bottom:none;
	bottom:14px;
}*/

.send_photo_comment_button{
	background-color: #1DC8D9;
	border:none;
	color:#fff;
	padding:12px;
	position:absolute;
	bottom:16px;
	left: -83px;
}

.send_photo_comment_button:hover {
	background-color: #18a3b1;
}

.comment_time{
	float:left;
	margin-right:10px;
}

.comment_author{
	color:#1DC8D9;
	float:left;
}

.comment_content{
	margin-top: 10px;
	float: left;
}

.photo_info{
	float:right;
	font-size:11px;
}

.ico{
	margin-bottom:-5px;
	margin-left:5px;
}

.ico:hover{
	opacity:0.5;
}

.reply{
	width: 100%;
	margin-left:13px;
    width: 875px;
	background-color:#f7f7f7; 
    -webkit-box-shadow: 1px 1px 3px rgba(50, 50, 50, 0.1);
	-moz-box-shadow:    1px 1px 3px rgba(50, 50, 50, 0.1);
	box-shadow:         1px 1px 3px rgba(50, 50, 50, 0.1);
	min-height: 120px;
}

.reply_textarea{
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    float: left;
    font-family: 'Verdana',sans-serif;
    font-size: 13px;
    margin: 0 20px;
    min-height: 82px;
    min-width: 830px;
    overflow: auto;
    position: relative;}

.send_photo_reply_button{
    background-color: #1DC8D9;
    border: medium none;
    bottom: 16px;
    color: #FFFFFF;
    left: -83px;
    padding: 12px;
    position: relative;
}

.send_photo_reply_button:hover {
	background-color: #18a3b1;
}