
/*@font-face {
    font-family: Myriad; /
    src:url(../fonts/MyriadWebPro.ttf) 
   }

   @font-face {
    font-family: MyriadBold; 
    src:url(../fonts/MyriadPro-Semibold.otf) 
   }*/

* {
margin: 0;
}

html, body {
height: 100%;
font-family: 'Verdana', sans-serif;
}

body{
	background-image: url(../img/bg.png);
}

h2{
	font-weight: normal;
	color: #1dc8d9;
	font-size: 25px;
}

.a1{
	color:#6b7178;
	text-decoration: underline;
	font-size: 13px;
}

.wrapper {
min-height: 100%;
height: auto !important;
height: 100%;
margin: 0 auto -4em;
}

#top_advertisement{
	background-color: black;
}

#top_banner{
	background-image: url(../img/top-banner.png);
	background-size: 1200px;
	background-repeat: no-repeat;
	background-position: center;
	background-color: #333333;
	height: 220px;
	//width: 1200px;
	margin: 0 auto;
}

#menu_bg{
	background-color: #2a343e;
	position: relative;
	
}

footer, .push {
height: 4em;
}

footer, .push {
clear: both;
}

footer{
	background-color: #2a343e;
}

header{
	width: 1200px;
	margin: 0 auto;
}

#top_line{
	height: 123px;
	background-color: #2a343e;
}


#bottom_line{
	height: 53px;
	background-color: #242d36;
}

#bottom_line:after{
  z-index: 1;
  position: absolute;
  content: "";
  bottom: -8px;
  right: 0px;
  height: 8px;
  width: 100%;
  background-color: #2A343E;
  opacity: 0.12;
}

.line_content{
	width: 1200px;
	margin: 0 auto;
}

#container{
	width: 1200px;
	margin: 30px auto 0;
}
#content{
	float: left;
    margin: 0px auto 0 0px;
    width: 957px;

}

#logo{
	font-size: 36px;
	float: left;
	padding-top: 25px;
}

#search_form{
	float: right;
	margin-top: 40px;
}

#search_field{
	-webkit-border-radius: 6px 0 0 6px;
	-moz-border-radius: 6px 0 0 6px;
	border-radius: 6px 0 0 6px;
	background-color: #242D36;
    border: medium none;
    color: #FFFFFF;
    float: left;
    height: 32px;
    padding: 5px 5px 5px 15px;
    width: 373px;
}

@media all and (-webkit-min-device-pixel-ratio:0) {
  
#search_field{
    height: 42px;

}
}

#search_field_submit{

}
#slogan{
	color: white;
	font-size: 16px;
	margin-left: 2px;
	margin-top: -5px;
}

menu {
	float: left;
	width: 1000px;
	font-size: 13px;
	margin-left: -82px;
	
}

menu ul {
	color: white;
	list-style-type:none;

 }

menu li{
 	float: left;
    line-height: 54px;
    padding: 0 5px;
    text-align: center;
    padding: 0 30px 0 30px;
}

menu  a{
	text-decoration: none;
	color: white;
}

menu li:hover, menu li:active{
	position: relative;
	background-color: rgba(29,200,217,1);
	height: 69px;
	top:-8px;
	line-height: 64px;
	z-index: 10;
	
}


menu li:hover:after, menu li:active:after {
  position: absolute;
  content: "";
  bottom: 0px;
  right: -12px;
  background-image: url(../img/menu-bottom-angle.png);
  height: 8px;
  width: 12px;
  z-index: 7;
}
menu li:hover:before, menu li:active:before{
  position: absolute;
  content: "";
  bottom: 6Zpx;
  right: -12px;
  background-image: url(../img/menu-bottom-angle.png);
  height: 8px;
  width: 12px;
  z-index: 7;

-moz-transform: scale(1,-1);
 -webkit-transform: scale(1, -1);
 -o-transform: scale(1, -1);
 transform: scale(1, -1);
 filter: FlipV;
 -ms-filter: "FlipV";

}


#autorisation{
	float: right;
	margin-right: 0px
}

#avatar{
	background-image: url(../img/avatar.png);
	width: 33px;
	height: 33px;
	float: left;
	margin-top: 10px;
	margin-right: 10px;
}

#autorisation span:hover{
	text-decoration: underline;
	cursor: pointer;
}

.enter{
	color: #EAEBEC;
    float: left;
    font-size: 13px;
    margin-left: 4px;
    margin-top: 18px;
}

#block_title{
	float: left;

}

h2:hover{
	font-weight: 500;
}


.block{
	float: left;
	margin: 0 9.5px;
	height: 224px;
	position: relative;
	overflow: hidden;
	-webkit-box-shadow: 2px 2px 5px rgba(50, 50, 50, 0.27);
	-moz-box-shadow:    2px 2px 5px rgba(50, 50, 50, 0.27);
	box-shadow:         2px 2px 5px rgba(50, 50, 50, 0.27);
	
}

.block > img {
    width: 225px;
	height: 226px;

}

.block:hover{

}

.block:nth-child(1){
	margin-left: 0px;
}
.block:last-child{
	margin-right: 0px;
}
#block_top{
	margin-bottom:40px;
}

@-moz-document url-prefix() {
	.block_description{
    	margin-bottom: 5px;
	}
}

.block_description{
    background-color: rgba(29,200,217,0.9);
    background-repeat: no-repeat;
    bottom: 0;
   // left: 0;
    padding: 7px 15px 0 17px;
    position: absolute;
    //opacity: 0;
    //visibility: hidden;
    width: 193px;
    margin-bottom: 0px;
}



/*
.block:first-child .block_description{
	visibility: hidden;
	position: absolute;
	bottom: -20px;
	left: -16px;
	width: 243px;
	height: 83px;
	padding-left: 5px;
	background-image: url(../img/block_hover.png);
}

.block:last-child .block_description{
	visibility: hidden;
	position: absolute;
	bottom: -20px;
	left: 0px;
	width: 233px;
	height: 83px;
	//background-color: rgb(29,200,217);
	background-image: url(../img/block_hover_right.png);

}
*/


.block_place{
	color: #FFFFFF;
    //font-family: 'MyriadBold';
    font-weight: 700;
    font-size: 16px;
    line-height: 10px;
    margin: 7px 0 5px 0;
    text-transform: uppercase;
}

.block_title{
	font-size: 13px;
	color: white;
	margin-bottom: 5px; 
	margin: 7px 0 7px 0;
}

.block_date{
	background-color: rgba(29, 153, 165, 0.9);
    
    margin: -7px 0 7px -17px;
    overflow: hidden;
    padding: 3px 0 5px 17px;
    width: 208px;
}

.block_date>.date{
    color: #FFFFFF;
    float: left;
    font-size: 35px;
    line-height: 38px;
    margin: 1px 3px 0px 0px;

}

.block_date>.mounth{
	color: white;
	font-size: 17px;
	height: 15px;

}

.block_date>.day{
	color: rgba(256,256,256,0.7);
	font-size: 17px;
	
}

#add_block{
	float: left;
}

#add_block span {
	color: rgba(29,200,217,0.5);
	margin-left: 15px;
	line-height: 25px;
	cursor: pointer;
	font-size: 15px;
}

#add_block span:hover {
	color: rgba(29,200,217,1);
}

#all_blocks{
	float: right;
	margin-right: 7px;
	margin-top: 5px;
}


#block_gallery_controll{
	float: right;
	margin-top: 5px;
}

.horizontal_block{
	float: left;
	margin-top: 20px;
}
#block_gallery{
	float: left;
}

.middle_horisontal_banners{
	float: left;
	margin: 35px 0;
}

.h_banner{
	background-color: #6B7178;
    float: left;
    height: 140px;
    width: 469px;
}
.h_banner:first-child{
	margin-right: 19px;
}


.right_vertical_banners{
	float: right;
}
.v_banner{
	background-color: #6B7178;
    height: 445px;
    margin-top: 20px;
    margin-bottom: 35px;
    width: 220px;
}

#places_other{
	margin-left: -45px;
	
}

#places_other ul {
	margin-top: 25px;
	margin-bottom: 35px;
	color: white;
	list-style-type:none;
	float: left;

 }

#places_other li{
 	float: left;
    line-height: 35px;
    padding: 0 5px;
    text-align: center;
    margin-right: 30px;
    
}

#places_other a{
	text-decoration: none;
	color:#6b7178;
	font-size: 15px;
}

#places_other a:hover{
	text-decoration: underline;
	
}
.places_comments_variants{

}
.places_comments_variants a{
	text-transform:uppercase;
	font-weight: normal;
	font-size: 20px;
	color:#6b7178;
	margin-right: 35px;
	cursor: pointer;
}
.add_places_comments{
	float: right;
	margin-right: 0px !important;
	text-transform:lowercase !important;
	font-size: 16px !important;
}


.places_comments_variants a:hover{
	color: rgba(29,200,217,1);
}

.places_comments_bad:hover{
	color: #ad0e2d !important;
}

.places_comments_good:hover{
	color: #66ad40 !important;
}


.add_places_comments{
	text-transform:;
}

.places_comments_block{
	margin-top: 25px;
	
}

.places_comments_avatar > img{
	float: left;
	-webkit-box-shadow: 3px 3px 2px rgba(50, 50, 50, 0.09);
	-moz-box-shadow:    3px 3px 2px rgba(50, 50, 50, 0.09);
	box-shadow:         3px 3px 2px rgba(50, 50, 50, 0.09);
}
.places_comments{
	float: left;
	margin-left: 5px;
}

.places_comments_angle{
	float: left;
	z-index: 30;
}
.places_comments_field{
	z-index: 10;
	float: left;
	height: 90px;
	margin-left: -7px;
    padding: 15px 20px 20px 20px;
    width: 820px;
	background-color: white;
	-webkit-box-shadow: 3px 3px 2px rgba(50, 50, 50, 0.09);
	-moz-box-shadow:    3px 3px 2px rgba(50, 50, 50, 0.09);
	box-shadow:         3px 3px 2px rgba(50, 50, 50, 0.09);
	margin-bottom: 30px;
	overflow: hidden;
	position: relative;
}

.places_comments_place{
	color: rgba(29,200,217,1);
	text-transform:uppercase;
	float: left;
	font-weight: 500; 
}

.places_comments_field span{
	color:  rgba(29,200,217,1);
	float: left;
	font-weight: bold; 
}

.places_comments_title{
	font-weight: bold;
	font-size: 15px;
	float: left;
	margin-right: 10px;
	margin-top: 1px;
}

.places_comments_icon{
	margin: -2px 0 0 0;
	float: left;
	margin-right: 6px;
}

.places_comments_count{
	font-size: 14px;
}

.places_comments_content{
	margin-top: 15px;
	font-size: 13px;

}
.places_comments_content ~ .a1{
	position: absolute;
	right: 25px;
	top: 10px
}

.left_vertical_block{
float: left;
margin-right: 20px;
}

.right_vertical_block{
float: left;
margin-bottom: 30px;
}
.vertical_block {
	background-color: #1dc8d9;
	width: 467px;
	//float: left;
	margin-top:20px; 
	min-height: 500px;
}

/*.vertical_block:nth-child(odd){
	margin-right: 20px;
} */

.news_block{
	height: 670px;
}

.photo_block{
	height: 1200px;
}

.video_block{
	height: 1030px;
}

.blog_block{
}

.people_block{
	background-color: #1dc8d9;
	height: 200px;
	width:960px;

}



